a:hover {
	text-decoration: underline;
}

aside {
	padding: 20px 40px;
	width: 210px;
	background-color: #333333;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: fixed;
	top: 120px;
	left: -180px;
	transition: left 0.3s ease;
}

aside:hover {
	left: 0;
}

aside ul {
	padding-left: 0;
	margin-bottom: 0;
}

aside ul li {
	padding: 5px 0;
}

aside ul li a {
	text-decoration: none;
	color: #fff;
}

aside ul li a:hover {
	text-decoration: none;
	color: #fc0;
}

.content {
	width: 70%;
	margin: auto;
}

.content a {
	color: #0000cc;
}

.content th {
	text-align: center;
}

div .pagination {
	display: flex;
	bottom: 0;
}

@media (max-width: 376px) {
	aside {
		height: 15vw;
		top: 100px;
	}
	aside:hover {
	  height: auto;	
	}
	.content {
		width: 100%;	
	}
}