main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main li {
    list-style-type: none;
    display: inline-block;
    margin: 160px 80px;
}

main li a {
    padding: 100px;
    border: 1px solid black;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
}