* ul{
    list-style-type: none;
}
.menu{
	background-color:#FFD700;
	width:20%;
	float:left;
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}
.menu a{
	text-decoration: none;
	color:black;
}
.content{
	position: relative;
	left: 20%;
	padding-left: 5%;
	width:75%;
	float:left;
}
.content a{
	text-decoration: none;
	color: #0000cc;
}
a:hover {
	text-decoration: underline;
}