@font-face {
  font-family: "Minecraft AE";
  src:
    url("/fonts/Minecraft AE.woff2") format("woff2");
}

img.cover {
  width: 100%;
}

div.join {
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

div.intro {
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

div.intro div.intro-box {
  margin-top: 40px;
  display: flex;
  flex-flow: raw nowrap;
  justify-content: space-between;
}

div.intro div.intro-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.intro-box p {
  margin: 5px;
}

div.more-intro {
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 100px;
  display: flex;
  flex-flow: raw nowrap;
  justify-content: space-between;
}

div.more-intro-text {
  width: 55%;
}

div.more-intro-text div {
  margin-left: 25px;
}

.real-hidden {
  position: fixed;
  height: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  top: 0px;
  left: 0px;
  outline: none;
}

.minecraft-button {
  background-image: url("../images/minecraft-button-big.png");
  background-size: 100% 100%;
  border: none;
  padding: none;
  width: 660px;
  height: 66px;
  font-family: "Minecraft AE";
  font-size: 25px;
  color: #e0e0e0;
  text-shadow: 1.5px 1.5px #383838;
  text-align: center;
}

.minecraft-button:hover {
  background-image: url("../images/minecraft-button-hover-big.png");
}

div.cover button.copy-address {
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  margin: auto;
}

div.cover button.baidu-download {
  position: absolute;
  top: 370px;
  left: 0;
  right: 0;
  margin: auto;
}

div.cover button.join-group {
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 768px) {
  div.more-intro:nth-of-type(1)>img {
    width: 50%;
  }

  div.more-intro:nth-of-type(2)>img {
    width: 65%;
  }

  .minecraft-button {
    width: 75vw;
    height: 7.5vw;
  }

  div.cover button.copy-address {
    top: 22vw;
  }

  div.cover button.baidu-download {
    top: 30vw;
  }

  div.cover button.join-group {
    top: 38vw;
  }
}

@media (max-width: 376px) {
  .minecraft-button {
    font-size: 15px;
  }

  div.intro-box {
    flex-direction: column;
  }

  div.intro-box p {
    margin: 0px;
  }

  div.more-intro img {
    display: none;
  }

  div.more-intro-text {
    width: 100%;
  }
}