body {
  background-color: #fff;
  color: #333;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.primary{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 62px;
  background-color: black;
  background-image: url("../images/header_bg.png");
  z-index: 99;
  font-family: 黑体;
}

header.primary > img.logo {
  position: fixed;
  top: 0px;
  left: 5%;
  height: 90px;
}

header.primary > nav {
  position: fixed;
  right: 20%;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 20px;
}

nav.primary ul {
  list-style-type: none;
  padding-left: 0;
}

nav.primary li {
  display: inline-block;
}

nav.primary a{
  color: white;
  text-decoration: none;
}

nav.primary li + li:before {
  content: "  |  ";
}

main{
  margin-top: 62px;
  width: 100%;
}

main > div{
  display: block;
}

div.cover > img{
  width: 100%;
}

div.join {
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

div.intro{
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

div.intro div.intro-box{
  margin-top: 40px;
  display: flex;
  flex-flow: raw nowrap;
  justify-content: space-between;
}

div.intro div.intro-box div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.intro-box p{
  margin: 5px;
}

div.more-intro{
  margin: 40px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 100px;
  display: flex;
  flex-flow: raw nowrap;
  justify-content: space-between;
}

div.more-intro-text{
  width: 55%;
}

div.more-intro-text div{
  margin-left: 25px;
}

footer.primary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5ba8ff;
  height: fit-content;
  color: #2d3333;
}

footer.primary ul {
  list-style-type: none;
  padding-left: 0;
}

footer.primary li {
  display: inline-block;
}

footer.primary a{
  color: #2d3333;
  text-decoration: none;
}

footer.primary li + li:before {
  content: "  |  ";
}

.center-text{
  text-align: center;
}
